apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: tkmmsconsentmanageruat
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: tkmmsconsentmanageruat
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
  - type: Resource
    resource:
      name: memory
      target:
        type: AverageValue
        averageValue: 500Mi